/* laptop and Tablet Device */
@media screen and (max-width: 1024px) {
    
    /* Navbar */
    .nav-container{
        flex-direction: column;
        padding: 30px;
    }
    .nav-menu{
        width: 100%;
    }
    .nav-menu a{
        margin: 20px 0;
    }

    /* GOAT */
    .goat-container{
        flex-direction: column-reverse;
        margin: 50px 0px 0px;
    }
    .goat-details{
        width: 100%;
        padding: 20px;
    }
    .goat-img{
        width: 100%;
        padding: 5px;
    }

    /* Gamer */
    .gamer-container{
        flex-direction: column;
    }
    .gamer-img{
        width: 100%;
    }
    .gamer-details{
        width: 100%;
        text-align: center;
        padding: 20px 0px;
    }
    .gamer-details p{
        margin:  20px 35px 5px;
    }

    /* Rectangle */
    .rectangle-container{
        flex-direction: column;
        gap: 100px;
    }
    .one-card p{
        text-align: center;
    }
    /* Ad-1 */
    .adOne-container{
        flex-direction: column;
        text-align: center;
    }
    .adOne-details{
        width: 100%;
        margin-top: 50px;
    }
    .adOne-img{
        width: 100%;
        padding: 20px;
    }
    .img-one{
        width: 75%;
    }
    .img-two{
        width: 30%;
        bottom: -20%;
        left: 5%;
    }

    /* Ad-2 */
    .adTwo-container{
        flex-direction: column-reverse;
        text-align: center;
        margin-top: 200px;
        margin-bottom: 80px;
    }
    .adTwo-img{
        width: 100%;
        padding: 20px;
    }
    .img-three{
        width: 75%;
    }
    .img-four{
        width: 30%;
        bottom: -5%;
        right: 5%;
    }
    .adTwo-details{
        width: 100%;
        flex-direction: column;
        text-align: center;
        margin-bottom: 30px;
    }
    
    /* Career */
    .career{
        margin-top: 0;
    }
    .career-container{
        flex-direction: column;
    }
    .career-details{
        width: 100%;
        padding: 10px;
    }
    .career-address{
        font-size: 14px;
    }
    .btn-white{
        font-size: 12px;
        padding: 12px 20px;
    }
    .career-img{
        width: 100%;
    }
}

/* Mobile Device */
@media screen and (max-width: 425px) {
    
    .nav-container{
        flex-direction: column;
        padding: 30px;
    }
    .nav-menu{
        flex-direction: column;
        width: 100%;
        margin: 20px;
    }
    .nav-menu a{
        margin: 20px 0;
    }
    .goat-container{
        flex-direction: column-reverse;
        margin: 200px 0px 0px;
    }
    .goat-details{
        width: 100%;
        padding: 40px 20px;
    }
    .goat-img{
        width: 100%;
        padding: 5px;
    }
    .rectangle-container{
        flex-direction: column;
    }
    .one-card p{
        text-align: center;
    }
    .adOne-container{
        flex-direction: column;
        text-align: center;
        margin-top: 0;
    }
    .adOne-details{
        width: 100%;
    }
    .adOne-img{
        width: 100%;
        padding: 20px;
    }
    .img-one{
        width: 80%;
    }
    .img-two{
        bottom: -5%;
        width: 30%;
    }
    .adTwo-container{
        margin-top: 80px;
    }
    .adTwo-details p{
        padding: 0 15px;

    }
    .career{
        margin-top: 0;
    }
    .career-container{
        flex-direction: column;
    }
    .career-details{
        width: 100%;
        padding: 10px;
    }
    .career-address{
        font-size: 14px;
    }
    .btn-white{
        font-size: 12px;
        padding: 12px 20px;
    }
    .career-img{
        width: 100%;
    }
    .tag-container{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        padding: 10px;
    }
    .tag{
        padding: 5px;
        font-size: 10px;
    }
    .tag img{
        width: 30px;
        height: 30px;
    }
    .footer-info, .terms{
        font-size: 12px;
        gap: 15px;
        padding: 5px;
    }
    .footer-icon img{
        width: 30px;
    }
}